@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

@import './global.scss';
@import './navigation.scss';
